.descriptionBlock {
  padding: 10px;
  position: relative;
  display: flex;
  align-items: center;
  gap: 50px;
}
.descriptionBlock span{
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: -40px;
}
.profile_block__img{
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: top;
}
.profile_block__ava{
  width: 130px;
  height: 130px;
  border-radius: 100px;
  border-color: white;
  border-width: 7px;
  border-style: solid;
  margin-top: -80px;
  overflow: hidden;
  object-fit: cover;
  object-position: top;
}
.profile {
  width: 100%;
  
}