.header {
  grid-area: h;
  height: 70px;
  border-radius: 50px;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-left: 40px;
}
.header img {
  max-width: 130px; 
  max-height: 50px;
  object-position: center;
  object-fit: cover;
}

.menu {
  display: flex;
  justify-content: start;
  margin-left: 140px;
  width: 100%;
}
.menu__links {
  display: flex;
  gap: 20px;
}

.menu__link {
  list-style-type: none; 
}
.menu__link a{
  font-weight: 500;
  color: #2E363E;
  text-decoration: none;
}

.menu__link :hover{
  color: #EA5455;
}

.loginBlock {
  background-color: #0077ff;
  width: 150px;
  height: 40px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.loginBlock a{
  color: white;
  font-weight: 600;
  text-decoration: none;
}
.trueLogin {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logout {
  background: #0077ff;
  outline: none;
  border: 1px white solid;
  border-radius: 5px;
  height: 30px;
  width: 80px;
  color: white;
  font-weight: 500;
  cursor: pointer;
}
