.header {
  grid-area: h;
  height: 70px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.header img {
  max-width: 130px; 
  max-height: 50px;
  object-position: center;
  object-fit: cover;
}

.header__row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.menu {
  display: flex;
  justify-content: start;
  margin-left: 140px;
  width: 100%;
}
.menu__links {
  display: flex;
  gap: 20px;
}

.menu__link {
  list-style-type: none; 
}
.menu__link a{
  font-weight: 500;
  color: #ffff;
  text-decoration: none;
}

.menu__link :hover{
  color: #EA5455;
}

.loginBlock {
  background-color: #0077ff;
  width: 150px;
  height: 40px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.loginBlock a{
  color: white;
  font-weight: 600;
  text-decoration: none;
}
.trueLogin {
  display: flex;
  align-items: center;
  gap: 20px;
}
.logout {
  background: #0077ff;
  border: none;
  outline: none;
  border-radius: 5px;
  height: 30px;
  width: 80px;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

.loginTrue__withAvatar {
  display: flex;
  align-items: center;
  gap: 5px;
}
